<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MicrowaveMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DeviceData" connectionString="DeviceData.db" />
    <add name="AlarmData" connectionString="AlarmData.db" />
    <add name="InfluxServer" connectionString="http://10.0.0.1:8086" />
    <add name="InfluxData" connectionString="MMDB" />
    <add name="InfluxWriteRetention" connectionString="week" />
    <add name="InfluxUser" connectionString="monitor" />
    <add name="InfluxPass" connectionString="monitor" />
  </connectionStrings>
  <appSettings>
    <add key="InfluxRetentionWeek" value="week" />
    <add key="InfluxRetentionMonth" value="month" />
    <add key="InfluxRetentionYear" value="year" />
    <add key="WeatherApiKey" value="7c95121adf690754ac289a48b2d419e3" />
    <add key="ElevationApiKey" value="bU6TItZpunA1DEJxANtAcflDYHXKjtQZ" />
  </appSettings>
  <userSettings>
    <MicrowaveMonitor.Properties.Settings>
      <setting name="a_longavg_baseRefresh" serializeAs="String">
        <value>00:30:00</value>
      </setting>
      <setting name="a_longavg_compareRefresh" serializeAs="String">
        <value>00:01:00</value>
      </setting>
      <setting name="a_longavg_longLimit" serializeAs="String">
        <value>7.00:00:00</value>
      </setting>
      <setting name="a_longavg_shortLimit" serializeAs="String">
        <value>00:30:00</value>
      </setting>
      <setting name="a_longavg_percDiff_sig" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="a_longavg_percDiff_sigQ" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="a_longavg_percDiff_TmpI" serializeAs="String">
        <value>0.11</value>
      </setting>
      <setting name="a_longavg_percDiff_volt" serializeAs="String">
        <value>0.031</value>
      </setting>
      <setting name="a_longavg_percDiff_late" serializeAs="String">
        <value>2.5</value>
      </setting>
      <setting name="a_shortavg_baseRefresh" serializeAs="String">
        <value>00:05:00</value>
      </setting>
      <setting name="a_shortavg_compareRefresh" serializeAs="String">
        <value>00:01:00</value>
      </setting>
      <setting name="a_shortavg_longLimit" serializeAs="String">
        <value>01:00:00</value>
      </setting>
      <setting name="a_shortavg_shortLimit" serializeAs="String">
        <value>00:05:00</value>
      </setting>
      <setting name="a_shortavg_percDiff_sig" serializeAs="String">
        <value>0.15</value>
      </setting>
      <setting name="a_shortavg_percDiff_sigQ" serializeAs="String">
        <value>0.15</value>
      </setting>
      <setting name="a_shortavg_percDiff_TmpI" serializeAs="String">
        <value>0.11</value>
      </setting>
      <setting name="a_shortavg_percDiff_volt" serializeAs="String">
        <value>0.031</value>
      </setting>
      <setting name="a_shortavg_percDiff_late" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="a_temper_percDiff" serializeAs="String">
        <value>0.3</value>
      </setting>
      <setting name="a_temper_degreesWind" serializeAs="String">
        <value>0.3</value>
      </setting>
      <setting name="a_temper_maxAge" serializeAs="String">
        <value>00:45:00</value>
      </setting>
      <setting name="a_temper_backDays" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="a_temper_skippedDays" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="a_temper_coeff_clear_clear" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="a_temper_coeff_clear_cloud" serializeAs="String">
        <value>0.98</value>
      </setting>
      <setting name="a_temper_coeff_clear_atmos" serializeAs="String">
        <value>0.98</value>
      </setting>
      <setting name="a_temper_coeff_clear_snow" serializeAs="String">
        <value>0.94</value>
      </setting>
      <setting name="a_temper_coeff_clear_rain" serializeAs="String">
        <value>0.96</value>
      </setting>
      <setting name="a_temper_coeff_clear_drizz" serializeAs="String">
        <value>0.97</value>
      </setting>
      <setting name="a_temper_coeff_clear_storm" serializeAs="String">
        <value>0.96</value>
      </setting>
      <setting name="a_temper_coeff_cloud_clear" serializeAs="String">
        <value>1.02</value>
      </setting>
      <setting name="a_temper_coeff_cloud_cloud" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="a_temper_coeff_cloud_atmos" serializeAs="String">
        <value>0.99</value>
      </setting>
      <setting name="a_temper_coeff_cloud_snow" serializeAs="String">
        <value>0.95</value>
      </setting>
      <setting name="a_temper_coeff_cloud_rain" serializeAs="String">
        <value>0.98</value>
      </setting>
      <setting name="a_temper_coeff_cloud_drizz" serializeAs="String">
        <value>0.99</value>
      </setting>
      <setting name="a_temper_coeff_cloud_storm" serializeAs="String">
        <value>0.98</value>
      </setting>
      <setting name="a_temper_debug" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="a_temper_averageDays" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="a_enable_longavg" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="a_enable_shortavg" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="a_enable_temper" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="a_enable_bytime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="a_enable_periodic" serializeAs="String">
        <value>True</value>
      </setting>
    </MicrowaveMonitor.Properties.Settings>
  </userSettings>
</configuration>