<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DeviceData" connectionString="DeviceData.db" />
    <add name="AlarmData" connectionString="AlarmData.db" />
    <add name="InfluxServer" connectionString="http://10.0.0.1:8086" />
    <add name="InfluxData" connectionString="MMDB" />
    <add name="InfluxWriteRetention" connectionString="week" />
    <add name="InfluxUser" connectionString="monitor" />
    <add name="InfluxPass" connectionString="monitor" />
  </connectionStrings>
  <appSettings>
    <add key="InfluxRetentionWeek" value="week" />
    <add key="InfluxRetentionMonth" value="month" />
    <add key="InfluxRetentionYear" value="year" />
    <add key="WeatherApiKey" value="7c95121adf690754ac289a48b2d419e3" />
    <add key="ElevationApiKey" value="bU6TItZpunA1DEJxANtAcflDYHXKjtQZ" />
  </appSettings>
</configuration>