<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DeviceData" connectionString="DeviceData.db" />
    <add name="InfluxData" connectionString="http://10.0.0.1:8086" />
  </connectionStrings>
  <appSettings>
    <add key="WeatherApiKey" value="7c95121adf690754ac289a48b2d419e3" />
    <add key="WeatherApiUrl" value="http://api.openweathermap.org/data/2.5/weather?lat={0}&amp;lon={1}&amp;units=metric&amp;appid={2}"/>
    <add key="WeatherApiIconSource" value="http://openweathermap.org/img/wn/{0}.png"/>
  </appSettings>
</configuration>